<div class="mainbox">
  <app-side-menu></app-side-menu>
  <div class="right-section no-scroll">
    <div class="copyrights">Copyright © 2018 App name All Rights Reserved.</div>
    <div class="right-inner">
      <div class="filter-block">
        <fieldset class="global-fieldset">
          <legend>Edit User</legend>
          <div class="filter-content">
            <form class="login_box_outer" [formGroup]='userForm' novalidate>
              <div class="common-detail-box">
                <div class="form-group row">
                  <label class="col-sm-4 label-right label-top">First Name<span style="color: red">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control custom-control" (keypress)="keypress($event.keyCode)"  formControlName="firstName" placeholder="merchant name" maxlength="20" />
                    <p *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').dirty">*first name required</p>
                    <p *ngIf="userForm.get('firstName').hasError('pattern') && userForm.get('firstName').dirty">*invalid name</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 label-right label-top">Last Name<span style="color: red">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control custom-control" (keypress)="keypress($event.keyCode)" formControlName="lastName" placeholder="merchant name" maxlength="20" />
                    <p *ngIf="userForm.get('lastName').hasError('required') && userForm.get('lastName').dirty">*last name required</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 label-right label-top">Email<span style="color: red">*</span></label>
                  <div class="col-sm-8">
                    <input  type="email" class="form-control custom-control" readonly formControlName="email" placeholder="enter email" maxlength="52" />
                    <p *ngIf="userForm.get('email').hasError('required') && userForm.get('email').dirty">*email required</p>
                    <p *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email').dirty">*invalid email</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 label-right label-top">Phone<span style="color: red">*</span></label>
                  <div class="col-sm-8">
                    <input  type="text" class="form-control custom-control" readonly formControlName="phone" placeholder="enter phone" maxlength="20" />
                    <p *ngIf="userForm.get('phone').hasError('required') && userForm.get('phone').dirty">*phone required</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 label-right label-top">Gender<span style="color: red">*</span></label>
                  <div class="col-sm-8">
                      <select class="form-control angle" formControlName="gender">
                          <option value="">--select--</option>
                          <option value="MALE">Male</option>
                          <option value="FEMALE">Female</option>
                      </select>
                      <p *ngIf="userForm.get('gender').hasError('required') && userForm.get('gender').dirty">*gender required</p>
                  </div>
              </div>
              </div>
          </form>
      </div>
      </fieldset>
      <div class="table-button text-center mt30">
        <button (click)="save()" class="btn btn-red" [disabled]="!userForm.valid">Save</button>
        <button [routerLink]="['/user-management']" class="btn btn-danger">Back</button>
      </div>
    </div>
  </div>