<header class="beforelogin">
  <div class="logo"><a><img src="assets/img/logo.png"></a></div>
</header>
  <div class="before-login-wrapper">
     <div class="inner-content clearfix">
         <div class="login-main-content">
            <div class="before-login-logo">
             
             </div>
             <form class="login_box_outer" [formGroup]='resetForm' novalidate>

             <div class="login-content-box">
                 <h2 class="heading">Login</h2>
                <div class="form-group">
                <label class="common-label blue">New Password<span style="color: red">*</span></label>
                  <input type="password" class="form-control" formControlName="password" (keypress)="keypress($event.keyCode)" placeholder="Enter new Password" maxlength="16" />
                  <p *ngIf="resetForm.get('password').hasError('required') && resetForm.get('password').dirty">*Password required</p>
                  <p *ngIf="resetForm.get('password').hasError('minlength') && resetForm.get('password').dirty">*invalid password</p>
                </div>
                <div class="form-group">
                  <label class="common-label blue">Confirm Password<span style="color: red">*</span></label>
                  <input type="password" class="form-control" formControlName="confPassword" placeholder="Enter confirm Password"/>
                  <p *ngIf="resetForm.get('password').hasError('required') && resetForm.get('password').dirty">*Confirm Password required</p>
                  <p *ngIf="resetForm.get('confPassword').value != resetForm.get('password').value && resetForm.get('confPassword').dirty && (resetForm.get('password').value && resetForm.get('confPassword').value)">*password not match</p>
                </div>
                  <div class="button-box">
                     <button (click)="resetSubmit()" type="submit" [disabled]="!resetForm.valid || resetForm.get('confPassword').value != resetForm.get('password').value" class="btn btn-red width100">Reset</button>
                  </div>
              </div>
              </form>
           </div>
      </div>

    </div>