<div class="mainbox">
    <app-side-menu></app-side-menu>
    <div class="right-section no-scroll">
        <div class="copyrights">Copyright © 2018 App name All Rights Reserved.</div>
        <div class="right-inner">
            <div class="filter-block">
                <fieldset class="global-fieldset">
                    <legend>Venue Detail</legend>
                    <div class="filter-content">
                        <div class="common-detail-box">
                            <div class="form-group row">
                                <label class="col-sm-6 label-right">Venue Name</label>
                                <div class="col-sm-6">
                                    {{venueDetail.venueName || '----'}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6  label-right">Venue Images</label>
                                <div class="col-sm-6">
                                    <div clss="add_images_box">
                                        <ul class="img_list" *ngIf="!venueDetail.images.length">
                                            <li class="addImage">
                                                <img src='assets/img/placeholder.png'>
                                            </li>
                                        </ul>
                                        <ul class="img_list" *ngIf="venueDetail.images.length">
                                            <li class="addImage" *ngFor="let imageUrl of venueDetail.images; let i = index">
                                                <img src="{{imageUrl || 'assets/img/placeholder.png'}}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div [formGroup]="specialityForm">
                <div class="repeate_area" *ngFor="let control of  specialityForm.controls['specialityList'].controls; let i = index">
                    <div class="filter-block">
                        <fieldset class="global-fieldset">
                            <legend>Add Speciality {{ i + 1}}</legend>
                            <div class="filter-content">
                                <form class="login_box_outer" [formGroup]="control" novalidate>
                                    <div class="common-detail-box">
                                        <div class="form-group row">
                                            <label class="col-sm-4 label-right label-top">Category Name<span style="color: red">*</span></label>
                                            <div class="col-sm-8">
                                                <input class="form-control custom-control" formControlName="categoryName" placeholder="Enter Category name" maxlength="50"
                                                />
                                                <p *ngIf="control.get('categoryName').hasError('required') && control.get('categoryName').dirty">*Category name required</p>
                                                <p *ngIf="control.get('categoryName').hasError('pattern') && control.get('categoryName').dirty">*invalid name</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 label-right label-top">Category Image<span style="color: red">*</span></label>
                                            <div class="col-sm-8">
                                                <div clss="add_images_box">
                                                    <ul class="img_list">
                                                        <li class="addImage" *ngIf="control.get('categoryImage').value">
                                                            <i class="cross_icon fa fa-close" style="cursor: pointer" (click)="removeImage(i, 'categoryImage')"></i>
                                                            <img [src]="control.get('categoryImage').value">
                                                        </li>
                                                        <li class="addImage" *ngIf="!control.get('categoryImage').value">
                                                            <input class="file_field" type="file" style="cursor: pointer" (change)="onImageChange($event, i, 'categoryImage')" accept="image/*"
                                                            />
                                                            <i class="plusIcon">+</i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 label-right label-top">Category Description<span style="color: red">*</span></label>
                                            <div class="col-sm-8">
                                                <input class="form-control custom-control" formControlName="categoryDescription" placeholder="Enter Category description"
                                                    maxlength="500" />
                                                <p *ngIf="control.get('categoryDescription').hasError('required') && control.get('categoryDescription').dirty">*Category description required</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                    <div class="text-right">
                        <button class="addmore btn btn-success" *ngIf="i>0 || specialityForm.controls['specialityList'].controls.length>1" (click)="removeItem(i)">Remove Item</button>
                    </div>
                    <div class="text-right">
                        <button class="addmore btn btn-success" *ngIf="((i+1) == specialityForm.controls['specialityList'].controls.length)" [disabled]="control.invalid"
                            (click)="newAdd()">Add More</button>
                    </div>
                </div>
                </div>

                <div class="table-button text-center mt30">
                    <button (click)="addVenueSpeciality()" class="btn btn-red" [disabled]="specialityForm.invalid">Add Speciality</button>
                    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>