<header class="beforelogin">
    <div class="logo">
        <a>
            <img src="assets/img/logo.png">
        </a>
    </div>
</header>
<div class="before-login-wrapper">
    <div class="inner-content clearfix">
        <div class="login-main-content">
            <div class="before-login-logo">

            </div>
            <form class="login_box_outer" [formGroup]="loginForm">

                <div class="login-content-box">
                    <h2 class="heading">Forgot Password</h2>
                    <div class="form-group">
                        <label class="common-label blue"><span style="color: red">*</span>Email</label>
                        <input type="email" class="form-control" formControlName="email" (keypress)="keypress($event.keyCode)" placeholder="Enter email id" maxlength="52" required/>
                        <p *ngIf=" loginForm.get('email').hasError('required')  && loginForm.get('email').dirty">*email is required</p>
                        <p *ngIf=" loginForm.get('email').hasError('pattern')   && loginForm.get('email').dirty">*Please enter valid email</p>
                    </div>
                    <div class="form-group">
                        <div class="text-right">
                            <a [routerLink]="['/login']" class="forget-pass">login</a>
                        </div>
                    </div>
                    <div class="button-box">
                        <button (click)="forgotSubmit()" type="submit" [disabled]="!loginForm.valid" class="btn btn-red width100">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="delete" class="modal fade" data-easein="bounceIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content common-detail-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-inner-text">
                   A link has been sent on your registered email
                </p>

                <div class="button-box mt20">
                    <button class="btn btn-red mr10" [routerLink]="['/login']" >OK</button>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>