<div class="mainbox">
    <app-side-menu></app-side-menu>
    <div class="right-section no-scroll">
      <div class="copyrights">Copyright © 2018 App name All Rights Reserved.</div>
      <div class="right-inner">
        <div class="filter-block">
          <fieldset class="global-fieldset">
            <legend>Change Password</legend>
            <div class="filter-content">
              <form class="login_box_outer" [formGroup]='merchantForm' novalidate>
                <div class="common-detail-box">
                  <div class="form-group row">
                    <label class="col-sm-4 label-right label-top">Password<span style="color: red">*</span></label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control custom-control" (keypress)="keypress($event.keyCode)" formControlName="password" placeholder="Enter password" maxlength="16" />
                      <p *ngIf="merchantForm.get('password').hasError('required') && merchantForm.get('password').dirty">*password required</p>
                      <p  *ngIf="merchantForm.get('password').hasError('minlength')   && merchantForm.get('password').dirty">*Password should be greater then 8 character's</p>                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 label-right label-top">Confirm Password<span style="color: red">*</span></label>
                    <div class="col-sm-8">
                      <input  type="password" class="form-control custom-control" formControlName="confPassword" placeholder="Enter confirm password" maxlength="16" />
                      <p *ngIf="merchantForm.get('confPassword').value != merchantForm.get('password').value && merchantForm.get('confPassword').dirty && (merchantForm.get('password').value && merchantForm.get('confPassword').value)">password not match</p>
                      <p *ngIf="merchantForm.get('confPassword').hasError('required') && merchantForm.get('confPassword').dirty">*confirm password required</p>                    
                    </div>
                  </div>
                </div>
            </form>
        </div>
        </fieldset>
        <div class="table-button text-center mt30">
          <button (click)="save()" class="btn btn-red" [disabled]="merchantForm.invalid || merchantForm.get('confPassword').value != merchantForm.get('password').value">Save</button>
          <button (click)="back()" class="btn btn-danger">Back</button>
        </div>
      </div>
    </div>